

#TopSection {
    text-align: center;
    font-size: 35px;
    border-bottom: solid 4px;
    border-top: solid 4px;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    background-color: white;
}

#MiddleSection {
    margin: 0vh 15vw 0vh 5vw;
    font-size: 20px;
    
}

#imgInTable{
    width:inherit;
}


#carFoxDiv {
   text-align:center;
   font-size:40px;
   background-color: lavender;
   padding: 0px;
}

.topTD {
    width: 33vw;
    padding: 0px, 2px, 0px, 2px;
}
