td {
    vertical-align: top;
}

span {
    float: right;
}

.topnav {
    overflow: hidden;
    margin: 4px 0px 8px 4px;
}

.CarImage {
    border: solid 4px black;
    align-content: center;
    width: 33vw;
}

.CarDetails {
    border: solid 4px black;
    border-top: 0;
    align-content: center;
}

.ArrowButton {
    height: 19px;
}

.Rotate {
    transform: rotate(180deg) scaleX(-1);
}

.InventoryImage {
    width: 100%;
    aspect-ratio: 4/3;
    vertical-align: top;
}

.Heading {
    font: bold;
    font-size: 30px;
    color: #160f79;
}

#main_table {
    border-collapse: collapse;
    background: white;
}

#AllCars {
    align-content: center;
    margin: 10px 4px 10px 4px;
}