<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="static/Resources/Bros.jpg">
    <link rel="stylesheet" href="static/CSS/Header.css">
    <link rel="stylesheet" href="static/CSS/About.css">
    <title>About</title>
</head>
<body>
    <div class="header">
        <h1>
            <a class="reference" href="HomePage"> Home </a> | <a class="reference" href="Inventory"> Inventory Page </a>
            | <a class="reference" id="CurrentPage" href="About"> About </a> | <a class="reference" href="Parts"> Parts Yard </a>
        </h1>
    </div>

    <br />
    <div id="mainText">
        We are a small family owned business that has been around since 2012. Our goal is to provide vehicles and services at an
        honest affordable rate. We started out just selling cars but have
        slowly grown to offer more services and products. We have a
        parts yard which allows us to sell parts in a convenient affordable way.

    </div>

    <div class="footer">
        Business Hours:
        <ul>
            <li>Monday 9am-5pm</li>
            <li>Tuesday 9am-6pm</li>
            <li>Wednesday 9am-5pm</li>
            <li>Thursday 9am-6pm</li>
            <li>Friday 9am-6pm</li>
            <li>Saturday 10am-6pm</li>
        </ul>

        <br />Call us at (208)-466-9580 or email us at bros.auto@yahoo.com.
        <br />Or visit us at 3328 Caldwell Blvd, Nampa, Idaho.
        <br />
        <p style="font-size:8px;text-align:right">Website created by Kamden Brothers</p>
    </div>
</body>
</html>