<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="static/Resources/Bros.jpg">
    <link rel="stylesheet" href="static/CSS/Header.css">
    <link rel="stylesheet" href="static/CSS/HomePage.css">
    <title>Used Car Dealership Nampa ID, Pre owned and used cars</title>
</head>
<body>
    <div class="header">
        <h1>
            <a id="CurrentPage" class="reference" href="HomePage"> Home </a> | <a class="reference" href="Inventory"> Inventory Page </a>
            | <a class="reference" href="About"> About </a> | <a class="reference" href="Parts"> Parts Yard </a>
        </h1>
    </div>
    <div style="text-align:center;">
        <br />
    </div>
    <div id="mainBody">
        <table id="TopSection">
            <tr>
                <td class="topTD">
                    <img id="imgInTable" src="static/Resources/CarLot.jpg" />
                </td>
                <td class="topTD">
                    Welcome to <span style="color: #160f79">Bros Auto!</span> <br /><br />
                    <div class="HelloStatement" style="font-size:25px">We are a <b>family owned</b> used car dealership that has been in the Nampa area since 2012.</div>
                </td>
                <td class="topTD" style="vertical-align:top">
                    <img id="imgInTable" src="static/Resources/InsideBuilding.jpg" />
                    <br />
                </td>
            </tr>
        </table>

        <div id="MiddleSection">
            <ul>
                <li>Bros Auto is located at 3328 Caldwell Blvd, Nampa, Idaho.</li>
                <li>If you are looking for a used vehicle, need a vehicle repaired, or are looking for some car parts come down and give us a visit.</li>
                <li>We have cars, trucks, and SUVs ranging from $3,500-$20,000.</li>
            </ul>
        </div>

        <br /><br /><br />

        <div id="carFoxDiv">
            Ask us to show you the CarFax <br />
            <img src="static/Resources/CarFox.jpg" style="text-align:center;width:80vw" />

        </div>
    </div>

    <div class="footer">
        Business Hours:
        <ul>
            <li>Monday 9am-5pm</li>
            <li>Tuesday 9am-6pm</li>
            <li>Wednesday 9am-5pm</li>
            <li>Thursday 9am-6pm</li>
            <li>Friday 9am-6pm</li>
            <li>Saturday 10am-6pm</li>
        </ul>

        <br />Call us at (208)-466-9580 or email us at bros.auto@yahoo.com.
        <br />Or visit us at 3328 Caldwell Blvd, Nampa, Idaho.
        <br />
        <p style="font-size:8px;text-align:right">Website created by Kamden Brothers</p>
    </div>
</body>
</html>